#map {
    /*margin: auto;*/
    /*padding: 0;*/
}

#dots {
    margin: auto;
    padding: 0;
}


.state {
    stroke: #a89fc3;
    fill: #fefefe;
    fill-opacity: 0.3;
    stroke-width: 2px;
}

.tract {
    stroke: #d0d0d0;
    fill-opacity: 0.75;
    stroke-width: 0.5px;
}

.zoomed {
    /*stroke-width: 0.1px;*/
}

.city {
    stroke: #473971;
    fill: none;
    opacity: 0.5;
    stroke-width: 1px;
    cursor: pointer;
    pointer-events: all;
}

.city-zoom {
    pointer-events: none;
}

.city-nofill {
    fill: none;
}

.city-hover {
    stroke-width: 1.5px;
    stroke: #67569a;
}

.hilite {
    fill: #2cc5f5 !important;
    opacity: 0.9;
}

.chart-title.h5 {
    font-weight: 600;
    /*font-size: 0.8em;*/
}

#map-title.chart-title {
    min-height: 3em;
}
/*
.city-blob {
    stroke: #898992;
    fill: none;
}*/

.dot {
    fill: #6c5d99;
    opacity: 0.75;
}

.summary {
    fill: #a387b0;
    opacity: 0.7;
}

rect.swatch {
    stroke: #adb2bd;
    stroke-width: 0.5px;
}

.tick line {
    stroke: #9a9aab;
}

path.domain {
    stroke: #444;
}

#reset {
    position: absolute;
    top: 20px;
    left: 16px;
    z-index: 100;

    font-weight: 600;
    padding: 6px;
    background: rgba(227, 224, 235, 0.5);
    /*opacity: 0.5;*/
    color: #444;
    border-radius: 2px;
    font-size: 0.8em;
    cursor: pointer;
}

.source {
    font-weight: 400;
    font-size: 0.8em;
}
